<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'advert/style.css' %}">
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>
            {% block head %}<h1>Обявления</h1>{% endblock %}
                <h2>{{Current_rubric}}</h2>
                <h3>{{visit}}</h3>
                <nav>
                        <a href="{% url 'index'%}">Главная</a>
                        {% for rubric in rubrics %}
                        <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
                        {% endfor %}
                        <a href="{% url 'add' %}">Добавить</a>
                        {% if user.is_authenticated %}
                        <p>Вы вошли в сисстему как {{user.username}}</p>
                        {% endif %}
                </nav>
                <section>
                {% block content %}
                {% endblock %}
                </section>
</body>
</html>