{% extends 'layout/base.html' %}
    {% block head %}<h1>{{current_rubric.name}}</h1>{% endblock %}
    {% block content %}
    {% for ad in ads %}
        <h2>{{ad.title}}</h2>
        <p>{{ad.content}}</p>
        <div>
        {% if ad.price == 1 %}
        <p>{{ad.price}} рубль</p>
        {% elif ad.price < 5 %}
        <p>{{ad.price}} рубля</p>
        {% else %}
        <p>{{ad.price}} рублей</p>
        {% endif %}
        </div>
        <p>{{ad.published}}</p>
        <p><a href="{% url 'by_rubric' ad.rubric.pk %}">{{ad.rubric.name}}</a></p><br>
        {% endfor %}
    {% endblock %}