<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
        <h1>Объявления</h1>
        <h2>{{Current_rubric}}</h2>
                <div>
                        <a href="{% url 'index'">Главная</a>
                        {% for rubric in rubrics %}
                        <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
                        {% endfor %}
                        <a href="{% url 'add' %}">Добавить</a>
                </div>

                {% for ad in ads %}
                <h2>{{ad.title}}</h2>
                <p>{{ad.content}}</p>
                <div>
                {% if ad.price == 1 %}
                <p>{{ad.price}} рубль</p>
                {% elif ad.price < 5 %}
                <p>{{ad.price}} рубля</p>
                {% else %}
                <p>{{ad.price}} рублей</p>
                {% endif %}
                </div>
                <p>{{ad.published}}</p>
                <p><a href="{% url 'by_rubric' ad.rubric.pk %}">{{ad.rubric.name}}</a></p><br>
                {% endfor %}
</body>
</html>