<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
        <h1>Объявления</h1>
        {% for ad in adsf %}
        <h2>{{ad.title}}</h2>
        <p>{{ad.content}}</p>
        <div>
        {% if ad.price == 1 %}
        <p>{{ad.price}} рубль</p>
        {% elif ad.price < 5 %}
        <p>{{ad.price}} рубля</p>
        {% else %}
        <p>{{ad.price}} рублей</p>
        {% endif %}
        </div>
        <p>{{ad.published}}</p><br>
        {% endfor %}
</body>
</html>